@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
   background-image: url(https://images.unsplash.com/photo-1568044852337-9bcc3378fc3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
   background-repeat: no-repeat;
   background-size: auto;
   background-color: #000000;
   font-family: 'Inter', sans-serif;
}
/*HEADER*/
header{
    background-color: rgba(55, 55, 55, 6);
    padding: 2%;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
}
header img{
    margin-bottom: -1%;
    margin-right: 2%;
}
header a{
    color: rgb(126, 168, 202);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding: 2%;
    transition-delay: 50ms;
} 
header a:hover{
    background-color: rgb(126, 168, 202);
    color: black;
    border-radius: 15px;
    transition: 30ms;
}

/*BODY*/
#body{
    color: rgb(126, 168, 202);
    margin: 740px 30% 0px 30%;
    border-radius: 20px;
   
}
#body button{
    margin: 4%;
    padding: 4%;
    background-color: rgb(126, 168, 202);
    color: #000000;
    border: 1px solid rgb(7, 80, 139);
    font-weight: bold;
    border-radius: 10px;
}